* {
  font-family: "Cascadia Code", "Consolas", "Courier", monospace;
  color: #22ee22;
}

body {
  background-color: #283627;
}

input[type="checkbox"] {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border: 3px solid #22ee22;
  background-color: #000000;
  padding: 0;
  margin-top: 10px;
}

label {
  display: contents !important;
}

footer {
  float: right;
  text-align: right;
  color: #2f8b2f;
  font-size: 0.8rem;
}

footer a {
  color: #2f8b2f;
}

hr {
  border-top: 1px solid #2f8b2f;
  border-bottom: 1px solid #2f8b2f;
}

#wrapper {
  text-align: center;
}

iframe {
  border: 12px solid #000000;
  background-color: #000000;
  margin: 1rem;
  overflow: hidden;
  border-radius: 12px;
}

button {
  border-radius: 0;
  border: 3px solid #22ee22;
  background-color: #002700;
  padding: 0.5rem;
  font-size: 1rem;
  color: #22ee22;
}

button:hover {
  background-color: #005000;
}

select {
  background-color: #000000;
  font-size: 1rem;
  border: 3px solid #22ee22;
  background-color: #002700;
  padding: 0.5rem;
}
